@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------------------------------------------------colours*/

.bg-color-name-title {
    background-color: #676767;

}

.ui-menu-color-home {
    background-color: #ffa93e;
}

.ui-menu-color-resume {
    background-color: #ff77fb;
}

.ui-menu-color-contact {
    background-color: #7eb8ff;
}

.ui-menu-color-download {
    background-color: #525252;
}

/*-----------------------------------------------------special paddings/margin/text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

/*-----------------------------------------------------header*/

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #ffffff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #ffffff;
}

.logo {
    background: url("../images/kash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#nav {
    margin: 0;
}

#nav li {
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 120px;
    display: block;
}

.menuitem a i {
    display: block;
    color: #fafafa;
    font-size: 26px;
    padding-top: 22px;
}

.menuitem span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*-----------------------------------------------------Footer*/

footer {
    min-height: 120px;
    background-color: #525252;
    color: #fafafa;
    margin-bottom: 0;
}

footer .cv-pdf i {
    color: #fafafa;
    font-size: 18px;
    margin-left: 5px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

footer .cv-pdf i:hover {
    color: #e84610;
}

.social-link li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 12px 0;
    font-size: 13px;
    color: #fafafa;
    background-color: #8f8f8f;
    line-height: 7px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-link li a i:hover {
    color: #e84610;
}

#footer-details{
    margin: 20px;
}

/*-----------------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 120px;
}
